<<<<<<< Updated upstream
.card-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 30px;
    place-content: center;
}
=======
.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 30px;
  place-content: center;
}

  
>>>>>>> Stashed changes
