.custom-card-img {
    width: 100%;
    height: auto;
    max-width: 42px;
        min-width: 42px;
  }
  @media (max-width: 800px) {
    .card img{
        max-width: 100%;
      height: 5em;
      border-radius: 4px;
      }
      .card-style{
        min-width: 40px
      }
}
@media (min-width: 800px) {
  .card img{
    max-width: 100%;
  height: 260px;
  border-radius: 4px;
  }
  .card-style{
    min-width: 260px
  }
}