@media (max-width: 800px) {
    img {
        object-fit: cover;
        height: 200px;
    }
    .carousel{
        width:100%;
    }
}  
@media (min-width: 800px) {
    img {
        object-fit: cover;
        height: 600px;
    }
    .carousel{
        width:100%;
    }
}