@media (max-width: 800px) {
    body,html{
        background-color: #505050;
        color: white;
    }
    .componentInfo{
        margin: 2em;
    } 
    .image-section{
        width: 100%;
        height: auto;
    };
    .imgBox{
        max-width: 42px;
        min-width: 42px;
    };
}
@media (min-width: 800px) {
    body,html{
        background-color: #505050;
        color: white;
    }
    .image-section{
        width: 100%;
        height: auto;
    };
    .imgBox{
        max-width: 75px;
        min-width: 75px;
    };
    .componentInfo {
        margin-left: 3em;
        margin-right: 3em;
        padding-top: 8em;
    }
    p{
        padding: 0 7em 0 7em;
    }
}
.ul-container {
    display: flex;
    justify-content: space-evenly;
    list-style: none
}
li{
    margin: 5px;
}