@media (min-width: 801px) {
    .card-secondContainer {
      width: 100%;
      margin-top: 80px;
      display: flex;
      justify-content: center;
      gap: 30px;
    }
  
    .demo {
      margin-top: 4em;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media (max-width: 800px) {
    .card-secondContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .demo {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }